# 나이&결혼여부

In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [3]:
d = webdriver.Chrome("c:/Chrome/chromedriver.exe")

In [4]:
d.get("https://www.google.com")

In [5]:
# keywords =  ['장성규', '김우빈']
keywords =  ['장성규', '김우빈','김연아', '이순재', '손흥민', '안재홍',  '유재석', '정준하', '정형돈',  '장도연' ]

import pandas as pd
total = pd.DataFrame()

for keyword in keywords:
    key = d.find_element_by_css_selector('.gLFyf.gsfi').send_keys('{} 나이'.format(keyword)) #검색창 keywords입력
    d.find_element_by_css_selector('.gLFyf.gsfi').send_keys(Keys.ENTER) # enter키 동작
    
    html = d.page_source
    google = bs(html, 'html.parser')
    google.find('div', class_= 'HwtpBd gsrt PZPZlf').find('div', class_='yxAsKe kZ91ed').text
    birthday = google.find('div', class_= 'HwtpBd gsrt PZPZlf').find('div', class_='yxAsKe kZ91ed').text
    ah = [f'{keyword}', birthday]
    
    d.back() #뒤로가기
    
    key = d.find_element_by_css_selector('.gLFyf.gsfi').send_keys('{} 결혼기념일'.format(keyword))
    d.find_element_by_css_selector('.gLFyf.gsfi').send_keys(Keys.ENTER)
    
    html = d.page_source
    google = bs(html, 'html.parser')
    
    try:
        google.find('div', class_= 'Z0LcW XcVN5d').text
        marry = google.find('div', class_= 'Z0LcW XcVN5d').text
        ah.append(marry)
        total = total.append(pd.DataFrame({ "이름":[ah[0]], "생년월일":[ah[1]], "결혼여부" : [ah[2]] }))
    except:
        marry = '미혼'
        ah.append(marry)
   
        total = total.append(pd.DataFrame({ "이름":[ah[0]], "생년월일":[ah[1]], "결혼여부" : [ah[2]] }))

    d.back() #뒤로가기

In [6]:
total

    이름           생년월일          결혼여부
0  장성규   1983년 4월 21일  2014년 5월 11일
0  김우빈   1989년 7월 16일            미혼
0  김연아    1990년 9월 5일            미혼
0  이순재  1934년 11월 16일         1966년
0  손흥민    1992년 7월 8일            미혼
0  안재홍   1986년 3월 31일            미혼
0  유재석   1972년 8월 14일   2008년 7월 6일
0  정준하   1971년 3월 18일  2012년 5월 20일
0  정형돈   1978년 3월 15일  2009년 9월 13일
0  장도연   1985년 3월 10일            미혼

In [7]:
total.to_excel('나이와결혼여부.xlsx', index=False) #데이터프레임 엑셀파일로 저장