In [25]:
import requests
import lxml
from bs4 import BeautifulSoup
from urllib import parse
import re
from selenium import webdriver
import pandas as pd
import numpy as np

In [26]:
X = input('검색어 입력:')

검색어 입력:신민아

# 1. 나무위키

In [84]:
url = 'https://namu.wiki/w/{}'.format(X)

url = 'https://namu.wiki/w/{}'.format(parse.quote(X)) #url encoding 해봤으나 불필요한 듯

In [95]:
url

'https://namu.wiki/w/신민아'

In [96]:
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36'}

data = requests.get(url, headers=headers)
bs = BeautifulSoup(data.text, 'html.parser')

### 1.1 인물 기본 정보

In [97]:
info_namu = pd.read_html(data.text)[0]

In [98]:
info_namu

                      0                                                 1
0   신민아新慜娥 ｜ Shin Min-a                               신민아新慜娥 ｜ Shin Min-a
1                   NaN                                               NaN
2                    이름                          신민아 (新慜娥, Shin Min-a)[1]
3                    본명                             양민아 (梁慜娥, Yang Min-a)
4                    출생                                 1984년 4월 5일 (36세)
5                    출생                                   경기도 성남시 분당구 야탑동
6                    국적                                              대한민국
7                    신체                                         169cm, O형
8                    가족                              부모님, 언니, 남동생(1993년생)
9                    종교                                               개신교
10                   학력  돌마초등학교 (졸업)하탑중학교 (졸업)효성고등학교 (졸업)동국대학교 (연극학 / 졸업)
11                   직업                                                배우
12                   데뷔                                  1998년 키키 1기 전속모델
13                   소속                                         에이엠엔터테인먼트
14                  SNS                                               NaN

### 1.2 출연 영화

In [99]:
pd.read_html(data.text)[1]

,0,1,2,3
0,Filmography화산고주연 2001. 12. 8김태균 감독 / 유채이 역 마들렌...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,화산고주연 2001. 12. 8김태균 감독 / 유채이 역,마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역,달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역,새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역
3,NaN,NaN,NaN,NaN
4,야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역,"무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역",고고70주연 2008. 10. 3최호 감독 / 미미 역,키친주연 2009. 2. 5홍지영 감독 / 안모래 역
5,NaN,NaN,NaN,NaN
6,"지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역",10억주연 2009. 8. 6조민호 감독 / 조유진 역,경주주연 2014. 6. 12장률 감독 / 공윤희 역,나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역

### 1.3 출연 영화

In [101]:
pd.read_html(data.text)[2]

,0,1,2,3
0,NaN,NaN,NaN,NaN
1,화산고주연 2001. 12. 8김태균 감독 / 유채이 역,마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역,달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역,새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역
2,NaN,NaN,NaN,NaN
3,야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역,"무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역",고고70주연 2008. 10. 3최호 감독 / 미미 역,키친주연 2009. 2. 5홍지영 감독 / 안모래 역
4,NaN,NaN,NaN,NaN
5,"지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역",10억주연 2009. 8. 6조민호 감독 / 조유진 역,경주주연 2014. 6. 12장률 감독 / 공윤희 역,나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역

### 1.4 출연 영화(예쁜 버전)

In [102]:
pd.read_html(data.text)[3]

        0             1      2          3
0   개봉 연도            제목     배역         비고
1   2001년           화산고    유채이         주연
2   2003년           마들렌    이희진         주연
3   2005년        달콤한 인생     희수         주연
4   2005년         새드 무비    안수은         주연
5   2005년        야수와 미녀    장해주         주연
6   2008년         무림여대생  소휘/옥순         주연
7   2008년       고고70[3]     미미         주연
8   2008년  지금, 이대로가 좋아요     명은         주연
9   2009년            키친    안모래         주연
10  2009년           10억    조유진         주연
11  2013년           더엑스     미아  단편영화 • 주연
12   2014            경주    공윤희         주연
13   2014   나의 사랑 나의 신부     미영         주연
14  2016년            춘몽     민아       특별출연
15  2020년            디바     이영         주연

### 1.5 출연 드라마

In [103]:
pd.read_html(data.text)[4]#.sort_values(by = '년도', ascending = False)

             0    1                     2    3   4
0        방영 연도  방송사                    제목   배역  비고
1        2001년  NaN               아름다운 날들  이민지  조연
2        2003년  NaN                    때려  장유빈  주연
3        2005년  NaN             이 죽일놈의 사랑  차은석  주연
4        2007년  NaN                    마왕  서해인  주연
5        2010년  NaN           내 여자친구는 구미호  구미호  주연
6        2012년  NaN                아랑 사또전   아랑  주연
7   2015~2016년  NaN              오 마이 비너스  강주은  주연
8        2017년  NaN                내일 그대와  송마린  주연
9        2019년  NaN    보좌관 - 세상을 움직이는 사람들  강선영  주연
10       2019년  NaN  보좌관 2 - 세상을 움직이는 사람들  강선영  주연

### 1.98 인물 이미지

In [41]:
paragraph = bs.find_all('div', class_='wiki-paragraph')

In [42]:
imgURL = bs.find("img", class_='wiki-image')["data-src"]

In [43]:
imgURL

'//w.namu.la/s/e2d4341053370ae1322528d26f7be82fdd8e47a09eb6a6504ae3e5856c06f4406b9558cbb467b65af43c1d396ba8fb6966ea9aa16ab6df16207ed4e9c9b01c66fadc66f0745b7315618db626249e16d0aedb6a20ecb3fdd3c3541dbfc96111c6'

### 1.99 get_text

In [44]:
### 문제점: 처음 실행시는 잘 불러와지나, 두번째 실행부터는 blank를 반환함. 커서 위치와 관련이 있나? 

for tr in bs('tr'): # td 안의
        #print(td)
    for td in tr('td'): # a 태그 중에서
       
        for div in td('div'): # a 태그 중에서
            
            if ('class' in div.attrs ):
                #and 'wiki-parapraph' in div['class']):
                bs = BeautifulSoup(str(div), 'html.parser')
                print(bs.get_text())
            else:
                pass

신민아新慜娥 ｜ Shin Min-a

이름
 신민아 (新慜娥, Shin Min-a)[1]
본명
 양민아 (梁慜娥, Yang Min-a)
출생
 1984년 4월 5일 (36세)
 경기도 성남시 분당구 야탑동
국적
  대한민국
신체
 169cm, O형
가족
 부모님, 언니, 남동생(1993년생)
종교
 개신교
학력
 돌마초등학교 (졸업)하탑중학교 (졸업)효성고등학교 (졸업)동국대학교 (연극학 / 졸업)
직업
 배우
데뷔
 1998년 키키 1기 전속모델
소속
 에이엠엔터테인먼트
SNS


 Filmography화산고주연 2001. 12. 8김태균 감독 / 유채이 역 마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역 달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역 새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역 야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역 무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역 고고70주연 2008. 10. 3최호 감독 / 미미 역 키친주연 2009. 2. 5홍지영 감독 / 안모래 역 지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역 10억주연 2009. 8. 6조민호 감독 / 조유진 역 경주주연 2014. 6. 12장률 감독 / 공윤희 역 나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역
화산고주연 2001. 12. 8김태균 감독 / 유채이 역 마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역 달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역 새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역 야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역 무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역 고고70주연 2008. 10. 3최호 감독 / 미미 역 키친주연 2009. 2. 5홍지영 감독 / 안모래 역 지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역 10억주연 2009. 8. 6조민호 감독 / 조유진 역 경주주연 2014. 6. 12장률 감독 / 공윤희 역 나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역




화산고주연 2001. 12. 8김태균 감독 / 유채이 역
마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역
달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역
새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역




야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역
무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역
고고70주연 2008. 10. 3최호 감독 / 미미 역
키친주연 2009. 2. 5홍지영 감독 / 안모래 역




지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역
10억주연 2009. 8. 6조민호 감독 / 조유진 역
경주주연 2014. 6. 12장률 감독 / 공윤희 역
나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역




화산고주연 2001. 12. 8김태균 감독 / 유채이 역
마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역
달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역
새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역




야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역
무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역
고고70주연 2008. 10. 3최호 감독 / 미미 역
키친주연 2009. 2. 5홍지영 감독 / 안모래 역




지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역
10억주연 2009. 8. 6조민호 감독 / 조유진 역
경주주연 2014. 6. 12장률 감독 / 공윤희 역
나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역




화산고주연 2001. 12. 8김태균 감독 / 유채이 역
마들렌주연 2003. 1. 10박광춘 감독 / 이희진 역
달콤한 인생주연 2005. 4. 1김지운 감독 / 희수 역
새드 무비주연 2005. 10. 20권종관 감독 / 안수은 역




야수와 미녀주연 2005. 10. 27이계벽 감독 / 장해주 역
무림여대생주연 2008. 6. 26곽재용 감독 / 소휘, 옥순 역
고고70주연 2008. 10. 3최호 감독 / 미미 역
키친주연 2009. 2. 5홍지영 감독 / 안모래 역




지금, 이대로가 좋아요주연 2009. 4. 23부지영 감독 / 명은 역
10억주연 2009. 8. 6조민호 감독 / 조유진 역
경주주연 2014. 6. 12장률 감독 / 공윤희 역
나의 사랑 나의 신부주연 2014. 10. 8임찬상 감독 / 미영 역
개봉 연도
제목
배역
비고
2001년
화산고
유채이
주연
2003년
마들렌
이희진
2005년
달콤한 인생
희수
새드 무비
안수은
야수와 미녀
장해주
2008년
무림여대생
소휘/옥순
고고70[3]
미미
지금, 이대로가 좋아요
명은
2009년
키친
안모래
10억
조유진
2013년
더엑스
미아
단편영화 • 주연
2014
경주
공윤희
주연
나의 사랑 나의 신부
미영
2016년
춘몽
민아
특별출연
2020년
디바
이영
주연
방영 연도
방송사
제목
배역
비고
2001년

아름다운 날들
이민지
조연
2003년
때려
장유빈
주연
2005년

이 죽일놈의 사랑
차은석
2007년
마왕
서해인
2010년

내 여자친구는 구미호
구미호
2012년

아랑 사또전
아랑
2015~2016년

오 마이 비너스
강주은
2017년

내일 그대와
송마린
2019년

보좌관 - 세상을 움직이는 사람들
강선영
보좌관 2 - 세상을 움직이는 사람들
발표 연도
아티스트
곡명
1998년
S
Sad Way
1999년
이승환
당부
소냐
너의 향기
여명
안정상여행
god
사랑해 그리고 기억해
그대 날 떠난 후로
2000년
조성모
아시나요
god
니가 필요해
2001년
차태현
I Love You
브라운 아이즈
With Coffee...
god
바보
슬픈 사랑
모르죠
2008년
유희열
여름날 (Feat. 페퍼톤스 신재평)
출연 연도
방송사
프로그램
역할
비고
2005년 10월 10일

야심만만
게스트
#
2005년 10월 18일

상상플러스
with 류승범, 김강우
2008년 10월 18일~2008년 11월 8일

민아의 프렌치 다이어리
출연자

2009년 8월 3일

놀러와
게스트

2009년 8월 18일~2009년 9월 1일

S Body
출연자

2010년 2월 25일
S Body 시즌2

2010년 8월 3일~2010년 8월 10일

강심장
게스트
# #
2014년 10월 5일
일요일이 좋다 - 런닝맨
with 조정석 #
2020년

유 퀴즈 온 더 블럭

연도
광고주
브랜드명 또는 CM 제목
비고
1998년
인디에프
예스비 전속모델

해태제과
바밤바

(주)지엔코
스포츠 리플레이 전속모델

한솔엠닷컴
원샷018


아이안타타 지면 광고 모델


DOP 카탈로그 모델


MK 카탈로그 모델

1998년
(주)엠케이트렌드
TBJ

1999년
삼성전자
매직스테이션 (with 유승준)

2000년
롯데제과
쿠키닷컴

애경
비엔에프 타이트 패팅 크림

남양유업
니어워터 02 (with 홍수현)


지피지기 (with 박광현)

2002년
현대약품
비키(VIKI)

태평양
코롱샴푸 (with 차시은)

2002년~2003년
현대약품
미에로화이바 (with 재희)

2003년
피자헛 코리아
피자헛

(주)엠케이트렌드
TBJ (with 비, 차태현)

2004년
자베르니 화장품
자베르니

2006년
비알코리아
배스킨라빈스 31 (with 박해진)

2007년
소니 코리아
소니 사이버샷

2008년
오르비스 코리아
오르비스

신원그룹
씨(SI)

현대카드
현대카드 (with 조승우)
[4]
2008년~2009년
CK 코리아
캘빈클라인 진

2008년~2013년
LG전자[5]
XNOTE

LG 프린터 마하젯

2009년
하이트진로
진로J

영화진흥위원회, 영상물보호위원회
굿다운로더 캠페인

CJ E&M
채널 올리브

(주)NHN
네이버해피빈 해피에너지 캠페인

2009년~2010년
남영비비안
비비안

2009년~2011년
아모레퍼시픽
리리코스

SK텔레콤
SKT 생각대로T, SKT 4G LTE

2009년~2012년
동서식품
맥심 T.O.P (with 원빈)

2009년~2016년
아모레퍼시픽
미쟝센 [6]

2010년
KB국민은행
KB카드

2010년~2011년
한국타이어
T station, 한국타이어 벤투스 S1 evo (with 장동건)

2010년~2012년
(주)삼성물산 건설부문
래미안

2010년~2014년
(주)지오다노
지오다노
[7]
2011년
LG전자
LG 3D 통합 캠페인 : 신민아 편

2011년~2012년
LG 일체형

2011년~2014년
아모레퍼시픽
헤라

2012년
LG전자
LG 옵티머스 3D 큐브

2013년
광동제약
옥수수수염차

2013년~2014년
(주)인디에프
조이너스

2013년~2015년
(주)우림FMG
스톤헨지

2014년~2015년
(주)위메프
위메프

(주)LF
라푸마 (with 제임스 리)

엘본인터내셔날(유)
자넬라토

롯데주류
처음처럼

2015년
LG생활건강
VDL

롯데제과
샤롯데 초콜릿

2015년~2016년
롯데그룹
엔제리너스

2015년~2017년
LG생활건강
오휘

2017년
(주)제이에스티나
제이에스티나 백 S/S시즌

롯데그룹
롯데백화점

한국캐논
캐논 EOS M6

2017년~현재
듀오락
프로바이오틱스 듀오락

2018년~현재
아모레퍼시픽
아이오페

(주)Molsion
몰숀

CJ제일제당
CJ고메 함박스테이크

2020년~현재
세라젬
파우제

연도
브랜드
비고
1998년
키키 전속모델
데뷔
2007년
에스콰이어

2008년
쉐어 해피니스 캠페인

2009년
누메로 코리아 12월호

스크린쿼터 기금마련전

샤넬W

2011년
슈어

2019년
데이즈드 12월호
@
2020년
마리끌레르 1월호
@
엘르(ELLE) 3월호
@
얼루어(allure) 3월호
@
미샤(MICHAA)
@
발매 연도
음반명
곡명
비고
2010년
내 여자친구는 구미호 OST
샤랄라

2012년
아랑사또전 OST
까만달

수상 연도
시상식
부문
작품
2003년
SBS 연기대상
뉴스타상
때려
2006년
Dior 타임리스 뷰티 어워즈
이 시대 가장 아름다운 여배우상

2008년
제4회 대한민국 대학영화제
여우조연상
고고70
2009년
제6회 맥스무비 최고의 영화상
최고의 여자배우상
제17회 이천춘사대상영화제
여우주연상
제3회 Mnet 20's Choice
Hot 패셔니스타상

제2회 스타일 아이콘 어워즈
여자 패셔니스타상

2010년
제7회 2009 TV CF 어워드
올해의 모델상

2010 한국광고주대회 광고주의 밤 시상식
광고주가 뽑은 좋은 모델상

제3회 스타일 아이콘 어워즈
스타일 아이콘 여자 탤런트상
내 여자친구는 구미호
SBS 연기대상
드라마스페셜부문 여자 우수연기상
10대스타상
베스트 커플상 (with 이승기)
2011년
제8회 2010 TV CF 어워드
올해의 모델상

제45회 납세자의 날 기념식
모범납세자 지방청장 표창

제1회 코스모 뷰티 어워즈
올해의 뷰티아이콘

2012년
MBC 연기대상
베스트 커플상 (with 이준기)
아랑 사또전
2015년
제51회 백상예술대상
여자 InStyle 베스트 스타일상
경주
제2회 들꽃영화상
심사위원 특별상
KBS 연기대상
미니시리즈부문 여자 우수연기상
오 마이 비너스
베스트 커플상 (with 소지섭)
2016년
제11회 서울 드라마 어워즈
한류드라마 여자연기자상
2019년
제4회 금융의 날 기념식
대통령 표창

# 2. 위키피디아

In [59]:
url_wiki = 'https://ko.wikipedia.org/wiki/{}'.format(X)

In [60]:
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36'}
data = requests.get(url_wiki, headers=headers)
soup = BeautifulSoup(data.text, 'html.parser')

In [61]:
info_wiki = pd.read_html(data.text)[0]

In [64]:
info_wiki.columns = [0,1]

In [65]:
info_wiki

       0                                1
0    NaN                              NaN
1     출생  1984년 4월 5일대한민국 경기도 성남시 분당구 야탑동
2     국적                             대한민국
3     직업                           배우, 모델
4  활동 기간                       1998년 ~ 현재
5    소속사                         에이엔터테인먼트
6     학력                     동국대학교 연극영상학과
7   웹사이트            신민아 - 페이스북신민아 - 인스타그램

In [79]:
pd.read_html(data.text)[1]

     연도   방송사                      제목        역할    비고
0  2001   SBS                 아름다운 날들       이민지  20부작
1  2003   SBS                      때려       장유빈  16부작
2  2005  KBS2              이 죽일 놈의 사랑       차은석  16부작
3  2007  KBS2                      마왕       서해인  16부작
4  2010   SBS             내 여자친구는 구미호   구미호(미호)  16부작
5  2012   MBC                   아랑사또전  아랑 / 이서림  20부작
6  2015  KBS2                오 마이 비너스    강주은/강변  16부작
7  2017   tvN                  내일 그대와       송마린  16부작
8  2019  JTBC      보좌관 - 세상을 움직이는 사람들       강선영  10부작
9  2019  JTBC  보좌관 - 세상을 움직이는 사람들 시즌2       강선영  10부작

In [80]:
pd.read_html(data.text)[2]

      연도           제목      역할   감독                  비고
0   2001          화산고     유채이  김태균                 NaN
1   2002          마들렌     이희진  박광춘                 NaN
2   2005       달콤한 인생     윤희수  김지운                 NaN
3   2005         새드무비     안수은  권종관                 NaN
4   2005       야수와 미녀     장해주  이계벽                 NaN
5   2008        무림여대생  강소휘/옥순  곽재용               1인 2역
6   2008        고고 70      미미   최호                 NaN
7   2009           키친     안모래  홍지영                 NaN
8   2009  지금 이대로가 좋아요      명은  부지영                 NaN
9   2009          10억     조유진  조민호                 NaN
10  2011     프렌즈 앤 러브       ―  조선희  광고 〈지오다노〉 제작, 단편영화
11  2013         더 엑스      미아  김지운                단편영화
12  2014           경주     공윤희   장률                 NaN
13  2014  나의 사랑 나의 신부     오미영  임찬상                 NaN
14  2016           춘몽      민아   장률                특별출연
15  2020           디바      이영  조슬예                 NaN

In [81]:
pd.read_html(data.text)[3]

     연도    방송사             제목      역할  비고
0  2005    SBS           야심만만  게스트 출연 NaN
1  2005    KBS          상상플러스  게스트 출연 NaN
2  2005   Mnet       신민아의 S바디      진행 NaN
3  2008  올리브TV   민아의 프렌치 다이어리      진행 NaN
4  2009    MBC  유재석, 김원희의 놀러와  게스트 출연 NaN
5  2010    SBS            강심장  게스트 출연 NaN
6  2014    SBS  일요일이 좋다 - 런닝맨  게스트 출연 NaN

In [82]:
pd.read_html(data.text)[4]

           년도         기업명             브랜드명(종류) 공동 출연
0        1998        인디에프     예스비 (여성의류) ※전속모델   NaN
1        1998        해태제과          바밤바 (아이스크림)   NaN
2        1998      (주)지엔코  스포츠 리플레이 (의류) ※전속모델   NaN
3        1998       한솔엠닷컴          원샷018 (통신사)   NaN
4        1998         NaN      아이안타타 ※지면 광고 모델   NaN
..        ...         ...                  ...   ...
56       2017        한국캐논      캐논 EOS M6 (카메라)   이제훈
57  2017~2019         듀오락          프로바이오틱스 듀오락   NaN
58       2018      아모레퍼시픽           아이오페 (화장품)   NaN
59  2018~2019  (주)Molsion            몰숀 (아이웨어)   NaN
60       2018      CJ제일제당    CJ고메 함박스테이크 (간편식품   NaN

[61 rows x 4 columns]

In [83]:
pd.read_html(data.text)[5]

     년도                 잡지명   비고
0  1998          잡지 키키 전속모델   데뷔
1  2007            에스콰이어 화보  NaN
2  2008      쉐어 해피니스 캠페인 화보  NaN
3  2009  누메로 코리아 12월호 화보 모델  NaN
4  2009   스크린쿼터 기금마련전 사진 기증  NaN
5  2009           샤넬W 화보 촬영  NaN
6  2011      슈어(SURW) 화보 모델  NaN

# 현재 문제점
## 근본적인 문제점
1. 한 플랫폼 내에서도 검색어 마다 다른 column 명, 위치, null 값이 존재.
    - 해결방법: 공통된 태그를 찾는다. -> 공통된 태그가 너무 많다. 
    - 해결방법2: 예를 들면 '광고 = cm = cf' 등으로 text를 찾아서 그 아래에 있는 데이터프레임/ 혹은 텍스트를 가져와서 재정렬 하는 방향.


2. X에 하나의 검색어를 넣었을 때, 서로 다른 플랫폼들의 내용을 합쳐야 한다.

3. 

## 근본적이지 않은 문제점
1. 태그를 찾아 들어가는 것이 너무 어렵다ㅜㅜㅠㅜㅠㅜ 
    - html이 비교적 깔끔한 위키피디아를 먼저 완벽히 구동되게 만든 후 다른 플랫폼으로 이전시키는 방법.